* {
    font-size: 100%;
    font: inherit;
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
strong {
    display: block;
}

html {
    scroll-behavior: smooth;
}

:root {
    --black:black;
    --white:white;
    --cta:red;
}

body {
    background: #202124;
    font-family: lato;
    color: whitesmoke;
}

img, video {
    max-width: 100%;
}

a {
    padding: 1em 0;
}

.article {
    max-width: 1400px;
    margin: 0 auto;
}
h2 {
    font-size: 3.2em;
}
/* Header */

.header {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header a {
    color: whitesmoke;
    text-decoration: none;
}

/* Top */
.top {
    height: 95vh;
    font-size: 2.8em;
    opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    max-width: 1400px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.top h1 {
    font-size: 2.5em;
}

.top h3 {
    font-size: 1.5em;
}

.top p{
    font-weight:300;
}

#name {
    display: flex;
}

.extra {
    display: none;
    animation: type 4s steps(60, end) forwards;
}

#name h1:hover .extra{
    display: inline-block;
    margin-right: 10px;
}

.description {
    font-size: 0.6em;
    margin: 1em 0 2em;
    animation-delay: 1s;
    max-width: 55%;
}

.description span {
    font-weight:300;
}

.delay {
    font-size: 0.4em;
    opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Top background */
.top {
    position: relative;
}

#background {
    position: absolute;
    left: 60%;
    width: 50%;
    top: 20%;
    opacity: 0.2;
    z-index: -1;
    object-fit: cover;
}
.work {
    background-color: #202124;
    z-index: 20;
    position: relative;
    padding: 0;
}

/* Main */
.projects {
    text-align: center;
}